<!DOCTYPE html>
<h2>Access history</h2>
<table-paginator page="accessHistory" next-page="nextPage()" prev-page="prevPage()"></table-paginator>
<table class="table table-striped">
    <tr>
        <th>IP</th>
        <th>Date</th>
        <th>Access type</th>
    </tr>
    <tr ng-repeat="history in accessHistory.content">
        <td>{{history.ip}}</td>
        <td>{{history.accessDate}}</td>
        <td>{{history.accessType}}</td>
    </tr>
</table>
<size-selector page-size="size"/>
<table-info page="accessHistory"></table-info>
