<h2>Add or Edit Redirect</h2>
<blockquote>
    <p>How to add redirect</p>
    <ol>
        <li>Add which domain you wish to redirect in "Access URL" field.Eg.<br/>
            <em>mjasion.pl</em> for redirect only mjasion.pl<br/>
            <em>*.mjasion.pl</em> - catching all: www.mjasion.pl, blog.mjasion.pl...
        </li>
        <li>Add where you want to redirect domain. Begin address with <strong>http://</strong> or <strong>https://</strong></li>
        <li>Save redirect and mail me(marcin.jasion at gmail(dot)com) which domain you want to redirect :-)</li>
        <li>Add in your DNS record for this domain: CNAME nettool.herokuapp.com</li>
    </ol>
</blockquote>
<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="accessUrl" class="col-sm-2 control-label">Acess URL</label>

            <div class="col-sm-10">
                <input
                        type="text"
                        class="form-control"
                        id="accessUrl"
                        placeholder="Eg. mjasion.pl(just redirect mjasion.pl), *.mjasion.pl (redirects: www.mjasion.pl, blog.mjasion.pl...). To EDIT use existing URL"
                        ng-model="redirect.accessUrl"
                        >
            </div>
        </div>
        <div class="form-group">
            <label for="redirectURL" class="col-sm-2 control-label">Redirect URL</label>

            <div class="col-sm-10">
            <input type="text" class="form-control" id="redirectURL" placeholder="Eg. http://blog.mjasion.pl" ng-model="redirect.redirectUrl">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-click="saveRedirect()">Save</button>
            </div>
        </div>
    </form>
</div>