<!DOCTYPE html>
<h2>Redirect history</h2>
<table-paginator page="redirectHistory" next-page="nextPage()" prev-page="prevPage()"></table-paginator>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Access URL</th>
        <th>Redirect URL</th>
    </tr>
    <tr ng-repeat="history in redirectHistory.content">
        <td>{{history.accessDate}}</td>
        <td>{{history.accessUrl}}</td>
        <td>{{history.redirectUrl}}</td>
    </tr>
</table>
<size-selector page-size="size"/>
<table-info page="redirectHistory"/>

